@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-background text-text;
    }

    .default-button {
        @apply bg-text text-background hover:bg-accent hover:text-text;
    }
    .destructive-button {
        @apply bg-red-500 text-background hover:bg-red-600;
    }
    .outline-button {
        @apply border border-text text-text hover:bg-background;
    }
    .subtle-button {
        @apply text-text hover:bg-background;
    }
    .ghost-button {
        @apply bg-transparent text-text hover:bg-background;
    }
    .link-button {
        @apply bg-transparent text-text hover:bg-background;
    }

    .wrapper {
        @apply relative flex justify-between items-center w-full md:px-20 px-10 py-5;
    }

    .bg-navbar {
        @apply absolute top-0 left-0 w-full h-full -z-[1] shadow-md;
    }

    .hero {
        @apply bg-background;
    }

    .sponsors {
        @apply opacity-0;
    }

    .sponsors .title {
        @apply w-full bg-accent/25 font-heading text-4xl text-center rounded-t-md py-2;
    }

    .marquee-container {
        @apply flex px-4 py-5 gap-10 bg-accent/15 rounded-b-lg overflow-hidden;
    }

    .marquee {
        @apply flex shrink-0 items-center py-2 px-4 rounded-md text-background font-heading tracking-wider bg-background;
    }

    .marquee h3 {
        @apply text-4xl font-bold;
    }
}